$opacity:0.7;
$sepia: rgba(255, 255, 255, $opacity);
$sepiaHex:#ffffff;
$success:#60a917;

.vnotify-item{
    @media screen and(max-width:480px) {
        width: 19em !important;
    }
}
#bottom_loader{
    top:4vh;
margin: 0 auto;
}
.shortcut{
    @media screen and(max-width:500px) {
        width:4rem !important;
        height:4rem !important;
    }
}
.c-center{
    position: absolute;
    top: 15vh;
    left: 15vw;
    text-align: center;

}

.d-b{
    display: block;
}
.d-n{
    display: none;
}
.t-s{
    color: $success !important;
}


body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.bg {
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

#bottom_div {
    position: absolute;
    top: 50%;
    bottom: 100%;
    width: 100%;
    left: 0%;
    height: 50%;
    background-color: $sepia;
    z-index: 9999;
}

#chevron_pull {
    position: absolute;
    bottom: 50vh;
    height: 8vw;
    background-color: $sepia;
    width: 8vw;
    left: 46vw;
    font-size: 8vw;
text-align: center;
color:black;
display: flex;
justify-content: center;
z-index: 9999;
}

.down{
    bottom: 0 !important;
}
.up{
    bottom: 50vh !important;
}
.hide {
    top:100% !important;
}
.show{
    top:50% !important;
}